{% extends 'base.html.twig' %}

{% block title %}dashboard free data {% endblock %}

{% block body %}  
  	<main id="main" class="main ">

  <div class="container mt-5">
      <h1 style="font: size 60px; color:skyblue">Welcome on GasaFreeData</h1>
  <p style="margin-left:45%">Let's start, <a href="{{path('app_register')}}">Register now</a></p> 


    {# <button id="pay-btn"
    data-transaction-amount="{{price}}"
   data-transaction-description="Achat de Forfait via GasaFreeData"
   data-customer-lastname="{{lastname}}"
   data-customer-firstname="{{firstname}}"
   data-customer-email="{{email}}"
   data-customer-phone_number-number="{{acountNumber}}"
   data-widget-title="GasaFreeData"
    >Payer </button>
									<script type="text/javascript">
                 
                 

									FedaPay.init('#pay-btn', { public_key: "pk_sandbox_iMMuINy2vZInv2_fTlBgYxwc"
                 
                   }
                  );

									</script> #}

                  <form action="{{path('app_home')}}" method="POST">
                      <script
                            src="https://checkout.fedapay.com/js/checkout.js"
                            data-public-key="pk_sandbox_iMMuINy2vZInv2_fTlBgYxwc"
                            data-button-text="Payer"
                            data-button-class="button-class"
                            data-transaction-amount="{{price}}"
                            data-transaction-description="Achat de Forfait via la Plateforme GasaFreeData"
                            data-customer-lastname="{{lastname}}"
                            data-customer-firstname="{{firstname}}"
                            data-customer-email="{{email}}"
                            data-customer-phone_number-number="{{acountNumber}}"
                            data-currency-iso="XOF"
                            data-widget-description="UATM GASA"
                            data-widget-image="https://live-checkout.fedapay.com/img/marketplace.svg"
                            data-widget-title="GasaFreeData">
                      </script>
              </form>
  </div>
  </main>
{% endblock %}