{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<main id="main" class="main ">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<div class="container">
		<br><br>

		<h1>Formulaire d'inscription</h1> <br><br>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}


		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.lastname) }}
		{{ form_row(registrationForm.firstname) }}
		{{ form_row(registrationForm.datanumber) }}
		{{ form_row(registrationForm.birthDay) }}
		{{ form_row(registrationForm.matricule) }}
		{# {{ form_row(registrationForm.type) }} #}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }} <br>
		{{ form_row(registrationForm.agreeTerms) }} <br>

		<button type="submit" class="btn btn-primary">Envoyer</button>
		{{ form_end(registrationForm) }}
		</div>
</main>

	{% endblock %}
