{% extends 'base.html.twig' %}

{% block title %}Edit Offer{% endblock %}

{% block body %}
    <h1>Edit Offer</h1>

    {{ include('offer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_offer_index') }}">back to list</a>

    {{ include('offer/_delete_form.html.twig') }}
{% endblock %}


{% extends 'base.html.twig' %}

{# {% block title  Offer index%} #}
	



{% block body %}

	<h1>
		index offer
	</h1>
	<main id="main" class="main ">

		<section class="section dashboard">
			<div class="row">
				<h2 class="text-center text-uppercase fw-bold mb-4">Nos forfaits limités
				</h2>
				<!-- Sales Card -->
				{% for offer in offers|filter(offre => offre.type == "LIMITE") %}
					<div class="col-xxl-4 col-md-16" data-bs-toggle="modal" data-bs-target="#exampleModal" data-offerid="{{offer.id}}" data-title="{{offer.quantity}} Go" data-deadline="{{offer.deadLine}} Jrs" data-price="{{offer.price}}">
						<div class="card info-card sales-card" style="height: 100%;">
							<div
								class="card-body d-flex p-2" style="height: 100%;">
								<!-- Première moitié en jaune -->
								<div class="bg-yellow d-flex align-items-center justify-content-center" style="flex: 1; height: 100%; box-sizing: border-box; padding: 0; margin: 0;">
									<h5 class="card-title m-0">{{offer.quantity}}
										Go
										<span>|{{offer.deadLine}}
											Jrs</span>
									</h5>
								</div>

								<!-- Deuxième moitié -->
								<div class="d-flex align-items-center justify-content-center" style="flex: 1; height: 100%; box-sizing: border-box; padding: 0; margin: 0;">
									<div class="d-flex align-items-center">
										<div
											class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<!-- Icône monétaire représentant la devise -->
											<i class="bi bi-cash"></i>
										</div>
										<div class="ps-3">
											<h6>{{offer.price}}</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

				<!-- End Sales Card -->


			</div>

			<div class="row mt-5">
				<h2 class="text-center text-uppercase fw-bold mb-4">Nos forfaits illimités
				</h2>
				<!-- Sales Card -->
				{% for offer in offers|filter(offre => offre.type == "ILLIMITE") %}
					<div class="col-xxl-4 col-md-16" data-bs-toggle="modal" data-bs-target="#exampleModal" data-offerid="{{offer.id}}" data-title="{{offer.quantity}} Go" data-deadline="{{offer.deadLine}} Jrs" data-price="{{offer.price}}">
						<div class="card info-card sales-card" style="height: 100%;">
							<div
								class="card-body d-flex p-2" style="height: 100%;">
								<!-- Première moitié en jaune -->
								<div class="bg-yellow d-flex align-items-center justify-content-center" style="flex: 1; height: 100%; box-sizing: border-box; padding: 0; margin: 0;">
									<h5 class="card-title m-0">{{offer.quantity}}
										Go
										<span>|
											{{offer.deadLine}}
											Jrs</span>
									</h5>
								</div>

								<!-- Deuxième moitié -->
								<div class="d-flex align-items-center justify-content-center" style="flex: 1; height: 100%; box-sizing: border-box; padding: 0; margin: 0;">
									<div class="d-flex align-items-center">
										<div
											class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<!-- Icône monétaire représentant la devise -->
											<i class="bi bi-cash"></i>
										</div>
										<div class="ps-3">
											<h6>{{offer.price}}</h6><br>
											<button id="pay-btn">Payer</button>
											<script type="text/javascript">
$												FedaPay.init('#pay-btn', { public_key: "pk_sandbox_iMMuINy2vZInv2_fTlBgYxwc",
													transaction: {
														amount: 100
														description: "achat de forfait"
													},
													custumer: {
													
													}
													}
													);
											</script>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				{% endfor %}
				<!-- End Sales Card -->

			</div>
{% endblock %}