{% extends 'base.html.twig' %}

{% block title %}Purchase index{% endblock %}

{% block body %}
<main id="main" class="main text-center">
    <h1>Purchase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>quantity</th>
                <th>Price</th>
                <th>dadline</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td>{{ purchase.user.lastname }} {{ purchase.user.firstname }}</td>
                <td>{{ purchase.offer.quantity }}</td>
                <td>{{ purchase.offer.price }}</td>
                <td>{{ purchase.offer.deadLine }} Jrs</td>
                <td>{{ purchase.createdAt ? purchase.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_purchase_show', {'id': purchase.id}) }}" class="btn btn-info btn-sm">show</a>
                    <a href="{{ path('app_purchase_edit', {'id': purchase.id}) }}" class="btn btn-warning btn-sm">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_purchase_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
